form div.fe {
  display: inline-block;
  width: 250px;
}

button
{
  display: inline-block;
  background: #ed391b;
  color: #fff;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: normal;
  padding: 7px 11px 7px 11px;
  outline: 0;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75), inset 0px 2px 0px 0px rgba(255,192,192,0.5), inset 0px 0px 0px 2px rgba(255,96,96,0.85), 3px 3px 3px 1px rgba(0,0,0,0.15);
  background-image: -moz-linear-gradient(top, #ed391b, #ce1a00);
  background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ed391b), to(#ce1a00));
  background-image: -ms-linear-gradient(top, #ed391b, #ce1a00);
  background-image: -o-linear-gradient(top, #ed391b, #ce1a00);
  background-image: linear-gradient(top, #ed391b, #ce1a00);
  text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
}

button:hover
{
  background: #fd492b;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75), inset 0px 2px 0px 0px rgba(255,192,192,0.5), inset 0px 0px 0px 2px rgba(255,96,96,0.85), 3px 3px 3px 1px rgba(0,0,0,0.15);
  background-image: -moz-linear-gradient(top, #fd492b, #de2a10);
  background-image: -webkit-linear-gradient(top, #fd492b, #de2a10);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fd492b), to(#de2a10));
  background-image: -ms-linear-gradient(top, #fd492b, #de2a10);
  background-image: -o-linear-gradient(top, #fd492b, #de2a10);
  background-image: linear-gradient(top, #fd492b, #de2a10);
}

button:active
{
  background: #ce1a00;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75), inset 0px 2px 0px 0px rgba(255,192,192,0.5), inset 0px 0px 0px 2px rgba(255,96,96,0.85), 3px 3px 3px 1px rgba(0,0,0,0.15);
  background-image: -moz-linear-gradient(top, #ce1a00, #ed391b);
  background-image: -webkit-linear-gradient(top, #ce1a00, #ed391b);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ce1a00), to(#ed391b));
  background-image: -ms-linear-gradient(top, #ce1a00, #ed391b);
  background-image: -o-linear-gradient(top, #ce1a00, #ed391b);
  background-image: linear-gradient(top, #ce1a00, #ed391b);
}

.button-div {
  margin-top: 8px;
  padding-top: 2px;
  border-top: 1px solid #DFDFDF;
}

.textright {
  text-align: right;
}

input {
  width: 250px;
}

textarea {
  width: 250px;
  height: 100px;
}

input.error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

label.error {
  color: #a94442;
  padding-left: 15px;
}

input.valid {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

input {
  border-radius: 5px;
  border-width: 3px;
}

input[placeholder] {
  padding-left: 5px;
}

#login-form .fe,
#login-form input {
  width: 175px;
}

#login-btn {
  position: relative;
  right: -13px;
}