form div.fe {
  display: inline-block;
  width: 250px;
}

button
{
  display: inline-block;
  background: #ed391b;
  color: #fff;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: normal;
  padding: 7px 11px 7px 11px;
  outline: 0;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75), inset 0px 2px 0px 0px rgba(255,192,192,0.5), inset 0px 0px 0px 2px rgba(255,96,96,0.85), 3px 3px 3px 1px rgba(0,0,0,0.15);
  background-image: -moz-linear-gradient(top, #ed391b, #ce1a00);
  background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ed391b), to(#ce1a00));
  background-image: -ms-linear-gradient(top, #ed391b, #ce1a00);
  background-image: -o-linear-gradient(top, #ed391b, #ce1a00);
  background-image: linear-gradient(top, #ed391b, #ce1a00);
  text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
}

button:hover
{
  background: #fd492b;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75), inset 0px 2px 0px 0px rgba(255,192,192,0.5), inset 0px 0px 0px 2px rgba(255,96,96,0.85), 3px 3px 3px 1px rgba(0,0,0,0.15);
  background-image: -moz-linear-gradient(top, #fd492b, #de2a10);
  background-image: -webkit-linear-gradient(top, #fd492b, #de2a10);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fd492b), to(#de2a10));
  background-image: -ms-linear-gradient(top, #fd492b, #de2a10);
  background-image: -o-linear-gradient(top, #fd492b, #de2a10);
  background-image: linear-gradient(top, #fd492b, #de2a10);
}

button:active
{
  background: #ce1a00;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.75), inset 0px 2px 0px 0px rgba(255,192,192,0.5), inset 0px 0px 0px 2px rgba(255,96,96,0.85), 3px 3px 3px 1px rgba(0,0,0,0.15);
  background-image: -moz-linear-gradient(top, #ce1a00, #ed391b);
  background-image: -webkit-linear-gradient(top, #ce1a00, #ed391b);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ce1a00), to(#ed391b));
  background-image: -ms-linear-gradient(top, #ce1a00, #ed391b);
  background-image: -o-linear-gradient(top, #ce1a00, #ed391b);
  background-image: linear-gradient(top, #ce1a00, #ed391b);
}

.button-div {
  width:100%;
  margin-top: 8px;
  padding-top: 2px;
  border-top: 1px solid #DFDFDF;
}

.textright {
  text-align: right;
}

input {
  width: 250px;
}

textarea {
  width: 250px;
  height: 100px;
}

input.error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

label.error {
  color: #a94442;
  padding-left: 15px;
}

input.valid {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

input {
  border-radius: 5px;
  border-width: 3px;
}

input[placeholder] {
  padding-left: 5px;
}

#login-form .fe,
#login-form input {
  width: 175px;
}

#login-btn {
  position: relative;
  right: -13px;
}

#header nav {
  color: #c6c8c8;
  text-decoration: none;
  font-size: 1.4em;
  margin-left: 60px;
  outline: 0;
}

th {
  text-align:right;
}

strong {
  font-weight: bold !important;
}

html, body, #map-canvas {
  height: 300px;
  margin: 15px 0;
  padding: 0px;
  
}

#location-picker-mp #map-canvas {
  height: 450px;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

.truck-box ul li,
.customer-box ul li {
  padding: 12px;
  border-bottom: 1px solid;
  cursor: pointer;
}

.truck-box ul,
.customer-box ul {
  border: 1px solid;
  border-bottom: 0;
  margin-bottom: 0;
}

.truck-box {
  float: right;
}

.customer-box {
  float: left;
}

.wrapper-box {
  width: 100%;
}
.truck-box ul li.selected,
.customer-box ul li.selected {
  background: linear-gradient(#f05940, #ff8F69)
}

.right {
  float: right;
}

em {
  font-style: italic;
  color: #a60000;
}

.select-all {
  font-size: 0.8em;
  width: 100%;
  text-align:center;
}

tr th {
  padding: 5px;
  font-weight: bold;
  font-style: italic;
}
tr td {
  padding: 5px;
  text-align: right;
}

.dashed-u {
  border-bottom: 1px dashed;
}

.spinner-wrapper input {
  width: 3em;
}

/*input.spinner {
  margin-right: 12px;
}*/

body .ui-corner-all.ui-spinner {
  background: transparent;
  border: none;
}

.gmap {
  height: 500px;
}

.ui-accordion-content {
  height: 550px;
}

.ui-spinner-input {
  background: #EFEFEF !important;
}